
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.orange {
    color: rgb(255, 0, 0);
}
#landing-page {
    height: 100vh;
    margin: 0px 32px;
}

li {
    list-style-type: none;
}

/* 

NAVIGATION 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#personal-logo {
    height: 50px;
    width: 50px;
    filter: invert(1);
}
.nav__link--list {
    display: flex;
}
.nav__link {
    margin: 0 12px;
}
.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}



.landing__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    height: calc(100vh - 80px);

}
.landing__description {
    max-width: 40%;
}
.landing__title {
    font-size: 60px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.landing__parra {
    font-size: 16px;
    max-width: 60%;
    line-height: 2;
}