* {
    background-color: rgb(230, 220, 173);
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.orange {
    color: rgb(255, 0, 0);
}
#landing-page {
    height: 100vh;
    margin: 0px 32px;
}
nav {
    height: 80px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav__logo {
    max-height: 100%;
    display: flex;
    align-items: center;
}
.nav__logo--img {
    height: 40px; 
    width: 40px;
}
.nav__link--list {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__link {
    padding-right: 16px;
}
.landing__container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    height: calc(100vh - 80px);

}
.landing__description {
    max-width: 40%;
}
.landing__title {
    font-size: 60px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.landing__parra {
    font-size: 16px;
    max-width: 60%;
    line-height: 2;
}