* {
    background-color: rgb(230, 220, 173);
}
#landing__page {
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav__links {
    display: flex;
    align-items: center;
    list-style: none;
}
.nav__link {
    padding-right: 16px;
}
.orange {
    color: rgb(255, 0, 0);
}